<h1><%= @meetup.name %></h1>
<h3>location: <%= @meetup.location %></h3>
<p>description: <%= @meetup.description %></p>

<form action="/join" method="POST">
  <label form="join">
    <input type="hidden" value = "<%= current_user.id %>" name="user_id">
    <input type="hidden" value = "<%= @meetup.id %>" name="meetup_id">
    <input type="hidden" value = "member" name="join">
    <input type="submit" id="join" value="Join Now!">
  </label>
</form>
<h2>Members</h2>
  <ul>
    <% @membership.each do |idx| %>
      <li> <%= idx.user.username %> </li>
      <% end %>
  </ul>
